<div class="buttons-container">
  <button *ngIf="isAdmin()" routerLink="/app/view-locations">
    <mat-icon>location_on</mat-icon> Locations
  </button>
  <button *ngIf="isAdmin() || isOrganizer()" (click)="openDialog()">
    <mat-icon>add</mat-icon> Add event
  </button>
  <button *ngIf="isOrganizer()" routerLink="/app/view-event-requests">
    <mat-icon>remove_red_eye</mat-icon> My requests
  </button>
  <button *ngIf="isAdmin()" routerLink="/app/view-event-requests">
    <mat-icon>remove_red_eye</mat-icon> Pending requests
  </button>
  <button *ngIf="isUser()" routerLink="/app/view-events-joined">
    <mat-icon>remove_red_eye</mat-icon> My events
  </button>
  <button *ngIf="isUser()" (click)="toggleFilters()">
    <mat-icon>filter_list</mat-icon> Filters
  </button>
</div>

<app-search-events
    class="search-wrapper"
    *ngIf="filtersOn"
    [unfilteredEvents]="dataSource"
    [locations]="locations"
    (onSearch)="handleSearchEvents($event)"
  ></app-search-events>

<div class="table-container">
  <table class="responsive-table">
    <thead>
      <tr>
        <th>Nume</th>
        <th>Locatie</th>
        <th>Pret bilet</th>
        <th>Data incepere</th>
        <th>Data incheiere</th>
        <th>Detalii</th>
        <th>Status</th>
        <th>Participanti</th>
        <th>Actiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of filteredData">
        <td data-label="Nume">{{ element.name }}</td>
        <td data-label="Locatie" class="location-cell" (click)="getLink(element.locationId)">
          <span class="location-link">{{ getLocation(element.locationId) }}</span>
        </td>
        <td data-label="Pret bilet">{{ getTicketPrice(element) }}</td>
        <td data-label="Data incepere">{{ element.startDate | date: 'dd/MM/yyyy' }}</td>
        <td data-label="Data incheiere">{{ element.endDate | date: 'dd/MM/yyyy' }}</td>
        <td data-label="Status">{{ getStatus(element.status) }}</td>
        <td data-label="Participanti" class="participants-cell" (click)="openParticipantsDialog(element.id, element.name)">
          {{ getParticipantsNumber(element) }}
        </td>
        <td>
          <button class="action-button" (click)="openDescriptionDialog(element)">
            View details
          </button>
          <button class="action-button" [disabled]="isButtonDisabled"
            *ngIf="isPending(element) && isAdmin()" (click)="acceptEvent(element.id)">
            Approve
          </button>
          <button class="action-button" [disabled]="isButtonDisabled"
            *ngIf="isPending(element) && isAdmin()" (click)="rejectEvent(element.id)">
            Decline
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
