<button (click)="openDialog()">Adauga un eveniment nou</button>

<table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    id="htmlData"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element">{{ element.location.name }}</td>
    </ng-container>

    <ng-container matColumnDef="organizer">
        <th mat-header-cell *matHeaderCellDef>Organizer</th>
        <td mat-cell *matCellDef="let element">{{ element.organizerEmail }}</td>
      </ng-container>

      <ng-container matColumnDef="ticketPrice">
        <th mat-header-cell *matHeaderCellDef>Ticket Price</th>
        <td mat-cell *matCellDef="let element">{{ element.ticketPrice }}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let element">{{ element.startDate | date:"dd-MM-yyyy" }}</td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let element">{{ element.endDate | date: "dd-MM-yyyy" }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ getStatus(element.status) }}</td>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef="let element"></th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="isPending(element)" (click)="acceptEvent(element.id)">Accept</button>
          <button *ngIf="isPending(element)" (click)="rejectEvent(element.id)">Reject</button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>