<button *ngIf="isAdmin()" routerLink="/app/view-locations">Vizualizeaza Locatiile</button>
<button *ngIf="isAdmin() || isOrganizer()" (click)="openDialog()">Adauga un eveniment nou</button>
<button *ngIf="isOrganizer()" routerLink="/app/view-event-requests">Vizualizeaza cererile mele</button>
<button *ngIf="isAdmin()" routerLink="/app/view-event-requests">Vizualizeaza cererile neadministrate</button>
<button *ngIf="isUser()" routerLink="/app/view-events-joined">Vizualizeaza evenimentele tale</button>

<table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    id="htmlData"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nume</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Locatie</th>
      <td mat-cell *matCellDef="let element" class="location-cell" (click)="getLink(element.locationId)">{{ getLocation(element.locationId) }}</td>
    </ng-container>

    <ng-container matColumnDef="organizer">
        <th mat-header-cell *matHeaderCellDef>Organizator</th>
        <td mat-cell *matCellDef="let element">{{ element.organizerEmail }}</td>
      </ng-container>

      <ng-container matColumnDef="ticketPrice">
        <th mat-header-cell *matHeaderCellDef>Pret bilet</th>
        <td mat-cell *matCellDef="let element">{{ getTicketPrice(element) }}</td>
      </ng-container>

      <ng-container matColumnDef="startDate"> 
        <th mat-header-cell *matHeaderCellDef class="date">Data incepere</th>
        <td mat-cell *matCellDef="let element">{{ element.startDate | date:"dd/MM/yyyy" }}</td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef class="date">Data incheiere</th>
        <td mat-cell *matCellDef="let element">{{ element.endDate | date: "dd/MM/yyyy" }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Detalii</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="openDescriptionDialog(element.description)">Vizualizati</button></td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ getStatus(element.status) }}</td>
      </ng-container>

      <ng-container matColumnDef="participants">
        <th mat-header-cell *matHeaderCellDef>Participanti</th>
        <td mat-cell *matCellDef="let element" class="participants-cell" (click)="openParticipantsDialog(element.id, element.name)">{{ getParticipantsNumber(element) }}</td>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef="let element"></th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="isButtonDisabled" *ngIf="isPending(element) && isAdmin()" (click)="acceptEvent(element.id)">Aproba</button>
          <button [disabled]="isButtonDisabled" *ngIf="isPending(element) && isAdmin()" (click)="rejectEvent(element.id)">Respinge</button>
          <button [disabled]="isButtonDisabled" *ngIf="isUser() && !isEventJoined(element.id) && !isEventFull(element)" (click)="joinEvent(element.id)">Participa</button>
          <p *ngIf="isEventJoined(element.id) && isUser()">Inscris</p>
          <p *ngIf="isEventFull(element) && isUser()">Capacitate maxima</p>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>