<button class="close-button" (click)="closeDialog()">X</button>
<div class="main">

  <div class="registrations-pannel">
    <h1 class="subtitle-header">{{ dataSource.eventName }} - participanti </h1>
    <table
      mat-table
      [dataSource]="dataSource.participants"
      class="mat-elevation-z8"
      id="participants-table"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nume</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <button class="export-button" (click)="exportPdf()">
      <mat-icon>picture_as_pdf</mat-icon>
      <span>Exporta lista</span>
    </button>
  </div>
</div>
