<button routerLink="/app"><mat-icon>keyboard_backspace</mat-icon>Back</button>

<h1 class="header" *ngIf="errorResp==null && isAdmin()">Unhandled event requests</h1>
<h1 class="header" *ngIf="errorResp==null && isOrganizer()">Events proposed by you</h1>
<button (click)="toggleFilters()" class="filter-button" *ngIf="errorResp==null">
    <mat-icon>filter_list</mat-icon> Filters
  </button>
<div *ngIf="errorResp!=null" class="no-content-container">
  <h1 class="no-content-header" style="font-weight: bold; margin-left: 37px; margin-top: 200px;">All events have been handled</h1>
  <img class="web-img" mat-card-image src="../assets/images/no-content.png" alt="Banner">
</div>

<app-search-events
    class="search-wrapper"
    *ngIf="filtersOn"
    [unfilteredEvents]="dataSource"
    [locations]="locations"
    (onSearch)="handleSearchEvents($event)"
  ></app-search-events>

<div class="table-container" *ngIf="errorResp==null">
  <table class="responsive-table">
    <thead>
      <tr>
        <th>Nume</th>
        <th>Locatie</th>
        <th>Pret bilet</th>
        <th>Data incepere</th>
        <th>Data incheiere</th>
        <th>Detalii</th>
        <th>Status</th>
        <th>Actiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of filteredData">
        <td data-label="Name">{{ element.name }}</td>
        <td data-label="Location" class="location-cell" (click)="getLink(element.locationId)">
          <span class="location-link">{{ getLocation(element.locationId) }}</span>
        </td>
        <td data-label="Ticket price">{{ getTicketPrice(element) }}</td>
        <td data-label="Starting date">{{ element.startDate | date: 'dd/MM/yyyy' }}</td>
        <td data-label="Ending date">{{ element.endDate | date: 'dd/MM/yyyy' }}</td>
        <td data-label="Status">{{ getStatus(element.status) }}</td>
        <td>
          <button class="action-button" (click)="openDescriptionDialog(element)">
            View details
          </button>
          <button class="action-button" [disabled]="isButtonDisabled"
            *ngIf="isPending(element) && isAdmin()" (click)="acceptEvent(element.id)">
            Approve
          </button>
          <button class="action-button" [disabled]="isButtonDisabled"
            *ngIf="isPending(element) && isAdmin()" (click)="rejectEvent(element.id)">
            Decline
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>