<button routerLink="/app"><mat-icon>keyboard_backspace</mat-icon>Back</button>
<h1 class="header">Joined events</h1>
<button (click)="toggleFilters()" class="filter-button">
    <mat-icon>filter_list</mat-icon> Filters
  </button>
<app-search-events
    class="search-wrapper"
    *ngIf="filtersOn"
    [unfilteredEvents]="dataSource"
    [locations]="locations"
    (onSearch)="handleSearchEvents($event)"
  ></app-search-events>

<div class="table-container">
  <table class="responsive-table">
    <thead>
      <tr>
        <th>Nume</th>
        <th>Locatie</th>
        <th>Pret bilet</th>
        <th>Data incepere</th>
        <th>Data incheiere</th>
        <th>Detalii</th>
        <th>Participanti</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of filteredData">
        <td data-label="Name">{{ element.name }}</td>
        <td data-label="Location" class="location-cell" (click)="getLink(element.locationId)">
          <span class="location-link">{{ getLocation(element.locationId) }}</span>
        </td>
        <td data-label="Ticket price">{{ getTicketPrice(element) }}</td>
        <td data-label="Starting date">{{ element.startDate | date: 'dd/MM/yyyy' }}</td>
        <td data-label="Ending date">{{ element.endDate | date: 'dd/MM/yyyy' }}</td>
        <td data-label="Participants" class="participants-cell" (click)="openParticipantsDialog(element.id, element.name)">
          {{ getParticipantsNumber(element) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>