<div class="wrapper">
    <mat-grid-list cols="{{nrCols}}" rowHeight="100%">
        <mat-grid-tile>
            <div class="first-tile">
                <div class="background-div" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
                    <span class="app-name">Event Planner</span>
                </div>
                <div class="text-container">
                    <div class="sign-in-container" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
                        <div>
                            <h1>Autentificare</h1>
                        </div>
                        <div class="description-div-container">
                            <p class="description-container-web" *ngIf="!isPhonePortrait">Bine ați revenit! Conectați-vă la contul dumneavoastră Event Planner.</p>
                            <div *ngIf="isPhonePortrait">
                                <p class="description-mobile-first">Bine ați revenit!</p>
                                <p class="description-mobile-second">Conectați-vă la contul dumneavoastră Event Planner.</p>
                            </div>
                        </div>
                        <div>
                            <asl-google-signin-button type="standard" size="medium"></asl-google-signin-button>
                        </div>
                        <div class="error-container">
                            <app-error-message *ngIf="errorResp != null" [errorResponse]="errorResp"></app-error-message>
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!isPhonePortrait">
            <img class="web-img" mat-card-image src="../assets/images/login-page-img.png" alt="Banner">
        </mat-grid-tile>
    </mat-grid-list>
</div>