<div class="wrapper">
    <mat-grid-list cols="{{nrCols}}" rowHeight="100%">
        <mat-grid-tile>
            <div class="first-tile">
                <div class="background-div" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
                    <span class="app-name" style="font-size: x-large;">Event Planner</span>
                </div>
                <div class="text-container">
                    <div class="sign-in-container" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
                        <div>
                            <h1 style="font-size: large;">Welcome back!</h1>
                        </div>
                        <div class="description-div-container">
                            <p class="description-container-web" *ngIf="!isPhonePortrait">Welcome back!</p>
                        </div>
                        <div class="google-button-wrapper">
                            <asl-google-signin-button size="medium" type="standard"></asl-google-signin-button>
                        </div>
                        <div class="error-container">
                            <app-error-message *ngIf="errorResp != null" [errorResponse]="errorResp"></app-error-message>
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
            <img class="web-img" src="../assets/images/login-page-img.png">
    </mat-grid-list>
</div>