<div class="popup-container">
    <button class="close-button" (click)="closeDialog()">X</button>
    <form [formGroup]="eventForm" class="form-container">
        <div class="form-field">
            <label for="name" class="form-label">{{ 'Nume:' }}*</label>
            <input id="name" type="text" formControlName="name" class="form-input" required>
        </div>
        <div class="form-field">
            <label for="location" class="form-label">{{ 'Locatie:'}}*</label>
            <select id="location" formControlName="location" class="form-input">
                <option *ngFor="let location of locations" [value]="location">{{ location.name }}</option>
            </select>
        </div>
        <div class="form-field">
            <label for="ticketPrice" class="form-label">{{ 'Pret bilet:' }}*</label>
            <input id="ticketPrice" type="number" formControlName="ticketPrice" class="form-input" required>
        </div>
        <div class="form-field">
            <label class="form-label">{{ 'Perioada:' }}*</label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" id="startDate" formControlName="startDate">
                <input matEndDate placeholder="End date" id="endDate" formControlName="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </div>
        <div class="form-field">
            <label for="description" class="form-label">{{ 'Descriere:' }}*</label>
            <input id="description" type="text" formControlName="description" class="form-input" required>
        </div>
        <div class="button">
            <button (click)="addEvent()" class="add-button">{{ 'Adauga noul eveniment' }}</button>
        </div>
    </form>
</div>
