/* Style for buttons */
.buttons-container {
    display: flex;
    align-items: flex-start;
  }
  
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Style for events */
mat-icon {
    margin-right: 0.5rem;
}

.action-button {
    display: inline;
}

.events-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 50px;
    padding: 10px;
}

.event-box {
    width: 400px;
    height: 400px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out
}

.event-box:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.1);
}

.event-image {
    width: 400px;
    height: 380px;
    border-radius: 5px;
    object-fit: contain;
}