<div class="buttons-container">
    <button *ngIf="isUser()" routerLink="/app/view-events-joined">
      <mat-icon>remove_red_eye</mat-icon>My events</button>
    <button class="filter-button" *ngIf="isUser()" (click)="toggleFilters()" class="toggle-search-button">
    <mat-icon>filter_list</mat-icon>Filters</button>
</div>
  
<app-search-events
    class="search-wrapper"
    *ngIf="filtersOn === true"
    [unfilteredEvents]="dataSource.data"
    [locations]="locations"
    (onSearch)="handleSearchEvents($event)"
></app-search-events>


<div class="events-gallery">
    <div class="event-box" *ngFor="let element of paginatedData">
        <img class="event-image" [src]="verifyPhotoUrl(element.photoUrl)" (click)="redirect(element)">
        <p>{{element.name}}</p>
    </div>
</div>

<mat-paginator [length]="filteredData.data.length"
               [pageSize]="3"
               [pageSizeOptions]="[3, 6, 9]"
               (page)="onPageChange($event)">
</mat-paginator>
