/* Style for buttons */
.buttons-container {
    display: flex;
    align-items: flex-start;
  }
  
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Style for events */
mat-icon {
    margin-right: 0.5rem;
}

.action-button {
    display: inline;
}

.events-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 50px;
    padding: 10px;
}

.event-box {
    width: 400px;
    height: 400px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out
}

.event-box:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.1);
}

.event-image {
    width: 400px;
    height: 380px;
    border-radius: 5px;
    object-fit: contain;
} 
  .search-wrapper {
    animation: slideDown 0.5s ease-in-out;
  }
  
  @keyframes slideDown {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 100%;
      opacity: 1;
    }
  }

@media only screen and (max-width: 575.98px) {
  .event-image {
    width: 300px;
    height: 280px;
  } 

  .event-box {
    width: 300px;
    height: 300px;
  }

  .events-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 5 columns */
    gap: 10px;
    padding: 10px;
  }

  mat-paginator {
    font-size: 12px;
    .mat-paginator-range-label,
    .mat-paginator-page-size {
      display: none;
    }
  }

  .buttons-container {
    padding-left: 33px;
  }
}